/* box sizing */
html{
    box-sizing: border-box;
}

h2{
    color: dimgray;
}

ul{
    color: dimgray;
}

/* box model */

div.image{
    max-width: 100wh;
    height: 400px;
    background-color: antiquewhite;
    text-align: center;
}


div.image img{
    max-width: 30%;
    max-height: 400px;
    padding: 30px;
    border: 5px solid blue;
    margin: 40px;
}

a{
    text-decoration: none;
}

/*this is pseudo class */

a:hover{
    background-color: cornflowerblue;
}

/*this is pseudo element */
a::before {
    content: "* ";
    color: red;
  }
